<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="AI Assistant"
            id="com.developer.nefarious.eclipse.copilot">
      </category>
      <view
            id="com.developer.nefarious.eclipse.copilot.ui.ChatView"
            name="Chat View"
            icon="icons/sample.png"
            class="com.developer.nefarious.eclipse.copilot.ui.ChatView"
            category="com.developer.nefarious.eclipse.copilot"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.developer.nefarious.eclipse.copilot.ui.ChatView"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="stack">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
